body {
  background-image: url("https://i.gifer.com/79nY.gif");
  background-repeat: no-repeat;
  background-position: center;

  height: 50vh;
  padding: 0;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
