/* body {
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  height: 100vh;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    background-image: url("./assets/images/3616.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
} */

.container {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* https://i.gifer.com/79nY.gif */
